<main id="main">
    <section class="log-section" id="log-section">
        <div class="container">
            <div id="log" class="log">
                <div data-aos="fade-up" class="row align-items-center justify-content-center log-div">
                    <div class="col-md-5 col-12">
                        <div class="formBx">
                            <div class="log-head">
                                <h4>Login</h4>
                            </div>
                            <form autocomplete="off">
                                <div class="mb-3">
                                    {{!-- <label for="Email" class="form-label">Email address</label> --}}
                                    <input type="email" class="form-control" id="Email" placeholder="Email"
                                        autocomplete="false">
                                    {{!-- aria-describedby="emailHelp" --}}
                                    {{!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone
                                        else.
                                    </div> --}}
                                </div>
                                <div class="mb-5">
                                    {{!-- <label for="Password" class="form-label">Password</label> --}}
                                    <input type="password" class="form-control" id="Paasword" placeholder="Password"
                                        autocomplete="false">
                                </div>
                                <button type="submit" class="btn log-btn">Sign In</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</main><!-- End #main -->