@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

$color1: #fff;
$color2: #ededed;
$color3: #c0c0c0;
$color4: #2e2e2e;
$color5: #04879C;
$color51: rgba($color: #0C3C78, $alpha: 0.1);
$color6: #0C3C78;
$color7: #082942;
$color8: #F30A49;
$danger: #F30A49;

$color_1: #444;
$color_2: #1bb1dc;
$color_3: #0a98c0;
$color_4: $color7;
$color_5: $color6;
$color_6: #095186;
$color_7: #085074;
$color_8: #106592;
$color_9: #111;
$color_10: #70aaca;
$color_11: #2c384e;
$color_12: #999;
$color_13: #4a7c97;
$color_14: #3680a8;
$color_15: #158caf;
$color_16: $color7;
$color_17: $color8;
$color_18: #6ba2bf;
$font-family_1: "Open Sans", sans-serif;
$font-family_2: "Montserrat", sans-serif;
$font-family_3: #1bb1dc;
$background-color_1: $color1;
$background-color_2: #ebf1fa;
$background-color_3: #1bb1dc;
$background-color_4: white;
$border-color_1: #1bb1dc;
$border-top-color_1: #eee;

$font1: 'Open Sans', sans-serif;
$font2: 'Poppins', sans-serif;


// $color_1: #444444;
// $color_2: #4154f1;
// $color_3: #717ff5;
// $color_4: #012970;
// $color_5: #fff;
// $color_6: #a5c5fe;
// $color_7: #798eb3;
// $color_8: #899bbd;
// $color_9: #3e4f6f;
// $color_10: #51678f;
// $color_11: #2c384e;
// $color_12: #919191;
// $color_13: #aab7cf;
// $color_14: #2eca6a;
// $color_15: #ff771d;
// $color_16: #888;
// $color_17: #777777;
// $color_18: #666;
$color_19: rgba(1, 41, 112, 0.5);
$color_20: rgba(1, 41, 112, 0.6);
$color_21: #6980aa;
$font-family_1: "Open Sans", sans-serif;
$font-family_2: "Nunito", sans-serif;
$font-family_3: "Poppins", sans-serif;
$font-family_4: var(--bs-font-monospace);
$background-color_1: #f6f9ff;
$background-color_2: #cfe2ff;
$background-color_3: #e2e3e5;
$background-color_4: #d1e7dd;
$background-color_5: #f8d7da;
$background-color_6: #fff3cd;
$background-color_7: #cff4fc;
$background-color_8: #d3d3d4;
$background-color_9: #fff;
$background-color_10: rgba(255, 255, 255, 0.6);
$background-color_11: #aab7cf;
$background-color_12: $color3;
$background-color_13: #eceefe;
$border-color_1: #cfe2ff;
$border-color_2: #e2e3e5;
$border-color_3: #d1e7dd;
$border-color_4: #f8d7da;
$border-color_5: #fff3cd;
$border-color_6: #cff4fc;
$border-color_7: #d3d3d4;
$border-color_8: #ebeef4;
$border-color_9: $color_3;
$border-top-color_1: #eee;