<header id="header">
    <div id="harmburger" class="harmburger">
        <div></div>
        <div></div>
        <div></div>
    </div>

    <nav>
        <div class="user">
            admin
        </div>
    </nav>
</header>